.swal-overlay{
  background-color: rgba(255, 0, 0, 0.137);
}
.hello {
  color: red;
}
.icon {
  font-size: 18px !important;
}
.textfield {
  border-radius: 50rem !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
