.swal-overlay {
  background-color: rgba(255, 0, 0, 0.137);
}
.swal-modal {
  background-color: rgb(179, 152, 152);
  box-shadow: 0 0 5px 0 rgba(255, 0, 0, 0.137);
  transition: ease-in-out;
}
.swal-title {
  color: rgba(255, 0, 0, 0.479);
}
.hello {
  color: red;
}
.icon {
  font-size: 18px !important;
}
.textfield {
  border-radius: 50rem !important;
}
.btn{
  width: 100px;
  aspect-ratio: 1;
  background-color: rgba(128, 128, 128, 0.568);
  border-radius:50rem; 
  box-shadow: 2px 0 5px 0 rgba(114, 113, 113, 0.411);
  
}

@tailwind base;
@tailwind components;
@tailwind utilities;
